;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev true
 :port 5001
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000

 ; set your dev database connection URL here
 :database-url "mysql://localhost:3306/yj?user=root&password=&useUnicode=true&characterEncoding=UTF-8&useSSL=false&autoReconnect=true&failOverReadOnly=false&serverTimezone=UTC&"

 ;:redis-conf [{:ip "10.220.19.15" :port 6379} {:ip "10.220.19.16" :port 6379} {:ip "10.220.19.17" :port 6379}]

 ;; 智慧随身厅外呼 活动同步地址
 ;:smart-hand-conf {:http [{:ip "127.0.0.1" :port 51007} {:ip "127.0.0.1" :port 51008}] :ftp {:ip "127.0.0.1" :user "username" :password "password"}}
 ;:check-key "xxxxxxxx"}
